<hello *ngIf="user.age >= 18; else under18" [name]="user.name"></hello>
<ng-template #under18>
  <hello name="you are too young to see this content"></hello>
</ng-template>

<p>test event biding = {{ name1 }}</p>
<p>Start editing to see some magic happen :)</p>
<!--{{exoression}}-->
<p>{{ user }}</p>
<p>{{ user.name }}</p>
<p>Age: {{ user.age }}</p>
<input [type]="inputText" [value]="user.name" />
<button type="button" (click)="Click($event)">Click me !</button>
<br /><br />
<input type="number" [ngModel]="user.age" (ngModelChange)="user.age = $event" />
<br />
<br />
<button (click)="user.age = user.age - 1">-</button>
Age : {{ user.age }}
<button (click)="user.age = user.age + 1">+</button>
<br /><br />
<!--Ngay thu 4-->

<hello name="Xuat ra tat ca cac item trong Users"> </hello>

<ul>
  <li *ngFor="let item of users">
    {{ item.name }} - {{ item.id }} - {{ item.phone }}
  </li>
</ul>
<br /><br />

<hello name="Dung ngFor with option to export user of users list"> </hello>
<!-- 
<li
*ngFor="
  let user of users;
  index as idx;
  count as total;
  first as isFirst;
  last as isLast;
  even as isEven;
  odd as isOdd
"
> -->

<ul>
  <li
    *ngFor="
      let user of users;
      index as idx;
      count as total;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
  >
    <span
      ><b>{{ idx }} / {{ total }}</b></span
    >
    <br />
    <span *ngIf="isFirst" style="color:red">I am first user</span>
    <span *ngIf="isLast" style="color:violet">I am last user</span>
    <span *ngIf="isEven && !isFirst && !isLast" style="color:green"
      >I am even number</span
    >
    <span *ngIf="isOdd && !isFirst && !isLast" style="color:orange"
      >I am even number</span
    >
    <br />
    <span>{{ user.name }} - {{ user.id }} - {{ user.phone }}</span>
  </li>
</ul>
<br />
<hello name="Dung ngFor with ngTemplate"> </hello>

<!-- <ng-template
  ngFor
  [ngForOf]="users"
  let-user
  let-idx="index"
  let-total="count"
  let-isFirst="first"
  let-isLast="last"
  let-isEven="even"
  let-isOdd="odd"
> -->
<ng-template
  ngFor
  [ngForOf]="users"
  let-user
  let-idx="index"
  let-total="count"
  let-isFirst="first"
  let-isLast="last"
  let-isEven="even"
  let-isOdd="odd"
>
  <span
    ><b>{{ idx }} / {{ total }}</b></span
  >
  <br />
  <span *ngIf="isFirst" style="color:red">I am first user</span>
  <span *ngIf="isLast" style="color:violet">I am last user</span>
  <span *ngIf="isEven && !isFirst && !isLast" style="color:green"
    >I am even number</span
  >
  <span *ngIf="isOdd && !isFirst && !isLast" style="color:orange"
    >I am even number</span
  >
  <br />
  <span>{{ user.name }} - {{ user.id }} - {{ user.phone }}</span> <br />
</ng-template>
<hello name="Class Binding"> </hello>
<p>
  <span style="color:red">Cach 1:*** Co dinh *** </span>
  <br />
  <span>box red-border yellow-background</span>
</p>
<div class="box red-border yellow-background"></div>

<p>
  <span style="color:red">Cach 2:*** Co dinh *** </span>
  <br />
  <span>hien thi tuy theo dieu kien</span>
</p>
<button (click)="isDanger = !isDanger">Danger</button>
<br />
<button (click)="isWarning = !isWarning">Warning</button>
<br />
<!-- <div
  class="box"
  [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"
></div> -->
<span style="color:red">Format 1: Class.ten-class</span>
<br />
<span>
  class="box" [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"</span
>
<div
  class="box"
  [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"
></div>
<span style="color:red">Format 2: array co dinh</span>
<br />
<span>cai nay thuong duung trong dieu khien cua component.ts</span>
<br />
<span> class="box" [class]="['red-border', 'yellow-background']"> ></span>
<div class="box" [class]="['red-border', 'yellow-background']"></div>

<br />
<span style="color:red">Format 3: OBJECT</span><br />
<span>
  "[class]="{{ 'red-border': isDanger, 'yellow-background': isWarning }""</span
>
<br />

<button (click)="isDanger = !isDanger">Danger</button>
<br />
<button (click)="isWarning = !isWarning">Warning</button>
<br />

<div
  class="box"
  [class]="{ 'red-border': isDanger, 'yellow-background': isWarning }"
></div>

<br />
<span style="color:red">Format 4: CACH HAY NHAT</span><br />

<span
  >Tao hang 1 class trong code behind, va chi gan no o template thoi. tuyet voi
  :))</span
><br />
<button (click)="Show()">Show</button>
<div [class]="Classes"></div>

<hello name="COMPONENT INTERACTION"></hello>
<button (click)="UpdateProgress()">Up progress</button>
<app-progress-bar
  #progressBarChange
  [progress]="currentProgress"
  [backgroundColor]="'gray'"
  [progressColor]="'red'"
></app-progress-bar>
<br />

<button (click)="progressBarChange.ChangeColor()">Change color</button>
<br />
<hello name="PARENT LISTENS FOR CHILD EVENT"></hello>
<app-author-list> </app-author-list>

<input #focusText type="text" />
